SketchUpp/bin/*/
SketchUpp/Droid/bin/*
SketchUpp/Droid/obj/*
SketchUpp/iOS/bin/*
SketchUpp/iOS/obj/*
SketchUpp/obj/*
SketchUpp/packages/*/*
SketchUpp/Sketching/*/obj/*
SketchUpp/Sketching/*/bin/*
SketchUpp/SketchUpp.userprefs
SketchUpp/.vs/*
*.csproj.user
/Sketching.UWP/bin
/Sketching.UWP/obj
/Sketching.UWP/project.lock.json
/SketchUpp/SketchUpp.UWP/bin/x86/Debug
/SketchUpp/SketchUpp.UWP/obj/x86/Debug
/SketchUpp/SketchUpp.UWP/project.lock.json
/SketchUpp/Sketching/Sketching.UWP/project.lock.json
/SketchUpp/UWP/bin/x86/Debug
/SketchUpp/UWP/obj/x86/Debug
/SketchUpp/UWP/project.lock.json
/SketchUpp/UWP/SketchUpp.UWP_TemporaryKey.pfx
