SketchUpp/bin/*/
SketchUpp/Droid/bin/*
SketchUpp/Droid/obj/*
SketchUpp/iOS/bin/*
SketchUpp/iOS/obj/*
SketchUpp/obj/*
SketchUpp/packages/*/*
SketchUpp/Sketching/*/obj/*
SketchUpp/Sketching/*/bin/*
SketchUpp/SketchUpp.userprefs
SketchUpp/.vs/*
*.csproj.user
/Sketching.UWP/bin
/Sketching.UWP/obj
/Sketching.UWP/project.lock.json
/SketchUpp/SketchUpp.UWP/bin/x86/Debug
/SketchUpp/SketchUpp.UWP/obj/x86/Debug
/SketchUpp/SketchUpp.UWP/project.lock.json
project.lock.json
/SketchUpp/UWP/bin/x86/Debug
/SketchUpp/UWP/obj/x86/Debug
/SketchUpp/UWP/SketchUpp.UWP_TemporaryKey.pfx
/SketchUpp/UWP/bin
SketchUpp/UWP/obj
SketchUpp/SketchUpp.sln.DotSettings.user
SketchUpp/SketchUpp.sln.DotSettings.user
/SketchUpp/buildandnugetpack.bat
/SketchUpp/nugetpush.bat
/SketchUpp/Cab.Mobile.Sketching.1.2.4.nupkg
